﻿@using MudBlazor
@using FFA.Shared.Models
<div class="profile-card">
    <img class="profile-card__image" src="guy.jpeg" />
    <div class="profile-card__data">
        <MudText Typo="Typo.h6" Class="px-4">@Profile.Username</MudText>
        <MudText Typo="Typo.body2" Class="px-4">@Profile.Age</MudText>
        <MudNavMenu Color="Color.Primary">
            <MudNavLink Href="/profile" Icon="@Icons.Material.Outlined.Person">View</MudNavLink>
            <MudNavLink Href="/profile/edit" Icon="@Icons.Material.Outlined.PersonPin">Edit</MudNavLink>
        </MudNavMenu>
    </div>
</div>
