﻿@using FFA.Shared.Models
@using MudBlazor
<section class="nav-menu">
    <ProfileCard Profile="Profile" />
    <MudNavMenu>
        <MudText Typo="Typo.body2" Class="px-4 mud-text-secondary">Secondary Text</MudText>
        <MudDivider Class="my-2" />
        <MudNavLink Href="/dashboard" Icon="@Icons.Material.Outlined.Dashboard" IconColor="Color.Primary">Dashboard</MudNavLink>
        <MudNavLink Href="/search" Icon="@Icons.Material.Outlined.Search" IconColor="Color.Success">Search</MudNavLink>
        <MudNavLink Href="/billing" Icon="@Icons.Material.Outlined.Payment" Disabled="true">Billing</MudNavLink>
        <MudNavGroup Title="Activity" Icon="@Icons.Outlined.Info" IconColor="Color.Secondary" Expanded="true">
            <MudNavLink Href="/views">Views</MudNavLink>
            <MudNavLink Href="/faves">Faves</MudNavLink>
            <MudNavLink Href="/faves">Messages</MudNavLink>
        </MudNavGroup>
        <MudNavLink Href="/about">About</MudNavLink>
    </MudNavMenu>
</section>

@code {
    [CascadingParameter]
    public Profile Profile { get; set; } = new();
}