﻿
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    @apply h-full text-white;
}

#app {
    @apply h-full;
}
.page {
    @apply flex flex-col h-full;
}

main {
    @apply flex flex-1;
}
.profile-grid {
    @apply flex;
}

.content-container {
    @apply bg-dark-gray p-4 rounded;
}

.nav-menu {
    @apply py-3 w-1/4 bg-black;
}

/* TODO: Convert to Tailwind */
#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

.profile-card {
    @apply flex p-4;
}

.profile-card__image {
    @apply w-1/4;
}


.loading-progress {
    position: relative;
    display: block;
    width: 8rem;
    height: 8rem;
    margin: 20vh auto 1rem auto;
}

    .loading-progress circle {
        fill: none;
        stroke: #e0e0e0;
        stroke-width: 0.6rem;
        transform-origin: 50% 50%;
        transform: rotate(-90deg);
    }

        .loading-progress circle:last-child {
            stroke: #1b6ec2;
            stroke-dasharray: calc(3.141 * var(--blazor-load-percentage, 0%) * 0.8), 500%;
            transition: stroke-dasharray 0.05s ease-in-out;
        }

.loading-progress-text {
    position: absolute;
    text-align: center;
    font-weight: bold;
    inset: calc(20vh + 3.25rem) 0 auto 0.2rem;
}

    .loading-progress-text:after {
        content: var(--blazor-load-percentage-text, "Loading");
    }


.nav-menu__profile-image {
    @apply w-1/4;
}

.matches-container {
    @apply p-4;
}

.main-container {
    @apply p-8 flex-1 bg-black;
}

.profile-card__data {
    @apply flex-1 p-4;
}