﻿@page "/profile"
@using MudBlazor

<PageTitle>Profile</PageTitle>
<MudText Typo="Typo.h1">@UserProfile.Username's Profile</MudText>

@code {
    // TODO: Make this page take a query param for user id
    [CascadingParameter]
    public FFA.Shared.Models.Profile UserProfile { get; set; } = new();
}

