﻿@using MudBlazor
@using FFA.Client.Components
@inherits LayoutComponentBase

<MudThemeProvider Theme="_currentTheme" />
<MudDialogProvider />
<MudSnackbarProvider />
<CascadingValue Value="_profile">
    <div class="page">
        <header>
            <NavMenu />
        </header>
        <main>
            <SideMenu />
            <section class="main-container">
                <div class="content-container">
                    @Body
                </div>
            </section>
        </main>
    </div>
</CascadingValue>
